<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.ActionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Actions">
        <id column="id" property="id" />
        <result column="typeid" property="typeid" />
        <result column="time" property="time" />
        <result column="name" property="name" />
        <result column="count" property="count" />
        <result column="praiseCount" property="praiseCount" />
        <result column="description" property="description" />
        <result column="image" property="image" />
        <result column="recommand" property="recommand" />
        <result column="showImage" property="showImage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, typeid, time, name, count, praiseCount, description, image, recommand, showImage
    </sql>

</mapper>
