<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.DoctorsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Doctors">
        <id column="doctorId" property="doctorId" />
        <result column="hospitalId" property="hospitalId" />
        <result column="deptId" property="deptId" />
        <result column="doctorname" property="doctorname" />
        <result column="desc" property="descs" />
        <result column="tag" property="tag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        doctorId, hospitalId, deptId, doctorname, descs, tag
    </sql>

</mapper>
