<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.FpcaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Fpcase">
        <id column="caseid" property="caseid" />
        <result column="casetitle" property="casetitle" />
        <result column="casepicture" property="casepicture" />
        <result column="helper" property="helper" />
        <result column="reporttime" property="reporttime" />
        <result column="readnum" property="readnum" />
        <result column="thumbup" property="thumbup" />
        <result column="userid" property="userid" />
        <result column="caseContent" property="caseContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        caseid, casetitle, casepicture, helper, reporttime, readnum, thumbup, userid, caseContent
    </sql>

</mapper>
