<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.FpinterviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Fpinterview">
        <id column="interviewid" property="interviewid" />
        <result column="villiagerid" property="villiagerid" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="intent" property="intent" />
        <result column="userid" property="userid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        interviewid, villiagerid, starttime, endtime, intent, userid
    </sql>

</mapper>
