<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.FpvilliageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Fpvilliage">
        <id column="villid" property="villid" />
        <result column="villname" property="villname" />
        <result column="villpicture" property="villpicture" />
        <result column="villaddress" property="villaddress" />
        <result column="villdesc" property="villdesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        villid, villname, villpicture, villaddress, villdesc
    </sql>

</mapper>
