<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.GasRecordingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.GasRecording">
        <id column="id" property="id" />
        <result column="petrol" property="petrol" />
        <result column="petrolmoney" property="petrolmoney" />
        <result column="time" property="time" />
        <result column="mileage" property="mileage" />
        <result column="price" property="price" />
        <result column="volume" property="volume" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, petrol, petrolmoney, time, mileage, price, volume
    </sql>

</mapper>
