<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.MetroThemeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.MetroTheme">
        <id column="id" property="id" />
        <result column="subname" property="subname" />
        <result column="subpic" property="subpic" />
        <result column="subdesc" property="subdesc" />
        <result column="subtime" property="subtime" />
        <result column="type" property="type" />
        <result column="diqu" property="diqu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, subname, subpic, subdesc, subtime, type, diqu
    </sql>

</mapper>
