<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.MetroLegendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.MetroLegend">
        <id column="id" property="id" />
        <result column="image" property="image" />
        <result column="msg" property="msg" />
        <result column="title" property="title" />
        <result column="en" property="en" />
        <result column="ch" property="ch" />
        <result column="m1" property="m1" />
        <result column="m2" property="m2" />
        <result column="m3" property="m3" />
        <result column="m4" property="m4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, image, msg, title, en, ch, m1, m2, m3, m4
    </sql>

</mapper>
