<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.MovieAddMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.MovieAdd">
        <id column="id" property="id" />
        <result column="Movietitle" property="Movietitle" />
        <result column="img" property="img" />
        <result column="address" property="address" />
        <result column="fraction" property="fraction" />
        <result column="msg" property="msg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, Movietitle, img, address, fraction, msg
    </sql>

</mapper>
