<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.ParkingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Parking">
        <id column="id" property="id" />
        <result column="searchValue" property="searchValue" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="updateBy" property="updateBy" />
        <result column="updateTime" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="parkName" property="parkName" />
        <result column="vacancy" property="vacancy" />
        <result column="priceCaps" property="priceCaps" />
        <result column="imgUrl" property="imgUrl" />
        <result column="rates" property="rates" />
        <result column="address" property="address" />
        <result column="distance" property="distance" />
        <result column="allPark" property="allPark" />
        <result column="parkingid" property="parkingid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, searchValue, createBy, createTime, updateBy, updateTime, remark, parkName, vacancy, priceCaps, imgUrl, rates, address, distance, allPark, parkingid
    </sql>

</mapper>
