<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.SlidepictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.Slidepicture">
        <id column="id" property="id" />
        <result column="imgUrl" property="imgUrl" />
        <result column="type" property="type" />
        <result column="createTime" property="createTime" />
        <result column="sort" property="sort" />
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imgUrl, type, createTime, sort, display
    </sql>

</mapper>
