<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.mapper.UserOpinionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.city.bean.UserOpinion">
        <id column="id" property="id" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="updateBy" property="updateBy" />
        <result column="updateTime" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="imgUrl" property="imgUrl" />
        <result column="userId" property="userId" />
        <result column="searchValue" property="searchValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createBy, createTime, updateBy, updateTime, remark, title, content, imgUrl, userId, searchValue
    </sql>

</mapper>
